version: "3.9"

services:
  frontend:
    build: 
      context: .
      dockerfile: Dockerfile          # Dockerfile ở root (frontend)
    container_name: student_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:4000
    restart: unless-stopped

  backend:
    build:
      context: ./backend              # đúng thư mục backend
      dockerfile: Dockerfile
    container_name: student_backend
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    env_file:
      - ./backend/.env                # dùng .env trong backend
    restart: unless-stopped

  mongo:
    image: mongo:6.0
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  mongo-express:
    image: mongo-express
    container_name: mongo_admin
    depends_on:
      - mongo
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin
    restart: unless-stopped

volumes:
  mongo-data:
