version: "3.9"

services:
  frontend:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: student_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:4000
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: student_backend
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/educhain
      - PORT=4000
    restart: unless-stopped

  mongo:
    image: mongo:6.0
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    env_file:
      - ./backend/.env
    restart: unless-stopped

  mongo-express:
    image: mongo-express
    container_name: mongo_admin
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin


volumes:
  mongo-data:
